@model IEnumerable<Recipes.Models.ViewModels.RecipeViewModel>
@{
    ViewData["Title"] = "Home";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

<div class="container mb-4">
    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <a href="#">
                                <img class="card-img-top" src="~/Files/@item.PictureURL" alt="" height="270">
                            </a>
                            <ul class="list-inline mt-3">
                                <li class="list-inline-item"><i class="fas fa-user"></i> @item.User</li>
                                <li class="list-inline-item"><i class="far fa-clock"></i> @item.Duration min</li>
                            </ul>
                            <hr>
                            <p class="lead">@item.Description</p>
                            <a class="btn btn-outline-dark my-2" href="#" role="button">Read more...</a>
                            <a class="lead" href="@Url.Action("FavouritePage","Home", new {recipeId = item.Id })">
                                @if (item.IsFavourite)
                                {
                                    <img src="~/Icons/favourite.png" height="30"/>
                                }
                                else
                                {
                                    <img src="~/Icons/unfavourite.png" height="30"/>
                                }
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>